<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="mysqlConnection" class="daoImpl.MysqlDBConnectionImpl">
        <property name="url" value="link"></property>
        <property name="username" value="root"></property>
        <property name="password" value="0000"></property>
    </bean>

    <bean name="oracleConnection" class="daoImpl.OracleDBConnectionImpl">
        <property name="url" value="link"></property>
        <property name="username" value="root"></property>
        <property name="password" value="0000"></property>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>
</beans>