<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="dbConnection" class="model.DBConnection" abstract="true">
        <property name="username" value="tahmazovfarid"></property>
        <property name="password" value="123123"></property>
        <property name="properties">
            <list>
                <value>Min 1 connection</value>
                <value>Max 20 connection</value>
            </list>
        </property>
    </bean>

    <bean id="mysqlConnector" class="model.DBConnection" parent="dbConnection">
        <property name="url" value="jdbc:mysql://localhost:3306/database"></property>
        <property name="properties">
            <list merge="true">
                <value>max_cache_statement 100</value>
            </list>
        </property>
    </bean>

    <bean id="oracleConnector" class="model.DBConnection" parent="dbConnection">
        <property name="url" value="jdbc:oracle://localhost:3306/database"></property>
        <property name="properties">
            <list merge="true">
                <value>max_cache_statement 500</value>
            </list>
        </property>
    </bean>
</beans>